/* custom css for pokedex */
* {
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Ubuntu', sans-serif;
	background-color:yellow;
	font-size: 2em;
}
#container{

	width:85%;
	padding:5%;
	margin: 0px auto;
}
#form{

	background-color:white;
	margin: 0px auto;
}
strong{
	font-size:3em;
}
 #form p{
font-size:1em;
}

#searchbar{
	font-size:2em;
	text-align: center;
}
#desc {

	text-align: center;
}
input{
	font-size:2em;
	width:100%;
	margin: 0 auto;
	height:300px;
	text-align: center;
}
